<div class="content">
    <nav class="nav">
      <div class="nav-container">
        <h1>Where in the world?</h1>
        <button type="button"><i class="far fa-moon"></i> Dark Mode</button>
      </div>
    </nav>
    <!-- END NAV -->
    <div class="container">
        <div class="search-items">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="Search for a country..." />
      </div>
      <!-- END SEARCH -->
  
      <div class="select">
        <div class="content-select">
          <select>
            <option>Filter by Region</option>
            <option>Africa</option>
            <option>America</option>
          </select>
          <i class="fas fa-angle-down"></i>
        </div>
      </div>
      <!-- END SELECT -->
    </div>
    <!-- END CONTAINER -->
  
    <div class="card-container">
      <div class="card">
        <div class="card-header">
          <img src="https://restcountries.eu/data/mex.svg" alt="" />
        </div>
        <!-- END CARD-HEADER -->
        <div class="card-body">
          <h2>Mexico</h2>
          <ul>
            <li><span>Population:</span> 122,273,473</li>
            <li><span>Region:</span> America</li>
            <li><span>Capital:</span> Mexico City</li>
          </ul>
        </div>
        <!-- END CARD-BODY -->
      </div>
      <!-- END CARD -->
  
      <div class="card">
        <div class="card-header">
          <img src="https://restcountries.eu/data/umi.svg" alt="" />
        </div>
        <!-- END CARD-HEADER -->
        <div class="card-body">
          <h2>Germany</h2>
          <ul>
            <li><span>Population:</span> 13330300</li>
            <li><span>Region:</span> America</li>
            <li><span>Capital:</span> Washington</li>
          </ul>
        </div>
        <!-- END CARD-BODY -->
      </div>
      <!-- END CARD -->
  
      <div class="card">
        <div class="card-header">
          <img src="https://restcountries.eu/data/umi.svg" alt="" />
        </div>
        <!-- END CARD-HEADER -->
        <div class="card-body">
          <h2>Germany</h2>
          <ul>
            <li><span>Population:</span> 13330300</li>
            <li><span>Region:</span> America</li>
            <li><span>Capital:</span> Washington</li>
          </ul>
        </div>
        <!-- END CARD-BODY -->
      </div>
      <!-- END CARD -->
      
    </div>
    <!-- END CARD-CONTAINER -->
  </div>
  <!-- END CONTENT -->