<form class="container" [formGroup]="myForm">
  <div class="search-items">
    <i class="fas fa-search"></i>
    <input
      type="text"
      placeholder="Search for a country..."
      formControlName="search"
      (input)="search()"
    />
  </div>
  <!-- END SEARCH -->

  <div class="select">
    <div class="content-select">
      <select formControlName="select" #select (change)="search()">
        <option value="">Filter by Region</option>
        <option *ngFor="let region of regions" [value]="region | lowercase" >
          {{ region }}
        </option>
      </select>
      <i class="fas fa-angle-down"></i>
    </div>
  </div>
  <!-- END SELECT -->
</form>

{{ myForm.value | json }}
