<div class="container-details">
  <div class="button">
    <a routerLink="''"><i class="fas fa-arrow-left"></i> Back</a>
  </div>

  <div class="image">
    <img src="https://restcountries.eu/data/col.svg" alt="" />
  </div>

  <div class="details">
    <h2>Belgica</h2>
    <ul>
      <li><span>Native Name:</span> Belgie</li>
      <li><span> Population:</span> 122234</li>
      <li><span>Region:</span> Europe</li>
      <li><span>Sub Region:</span> Western Europe</li>
      <li><span>Capital:</span> Brussels</li>
      <li><span>Top Level Domain:</span> .be</li>
      <li><span>Currency:</span> Euro</li>
      <li><span>Lenguages:</span> Dutsh, clark</li>
    </ul>

    <p>Border Countries:</p>
    <div class="borders">
      <a routerLink="">Gernamy</a><a routerLink="">Germany</a
      ><a routerLink="">Germany</a>
    </div>
  </div>
</div>
