@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");



body, html {
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
}

/************* HOME ***************/
.content{
  background-color: var(--verylight);
}

.content-height{
  height: 100vh;
}
/* NAV */
nav {
  background-color: var(--white);
  box-shadow: 0 2px 15px var(--card-shadow);
}

nav .nav-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav .nav-container a {
  text-decoration: none;
}

nav .nav-container h1 {
  color: var(--text);
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
}


nav button {
  background-color: transparent;
  border: none;
  font-size: var(--homeitems);
  font-weight: 500;
  color: var(--text);
  outline: none;
  cursor: pointer;
}

nav button i {
  margin-right: 2px;
  transform: rotate(-20deg);
}

/* SEARCH */
.search-items {
  background-color: var(--white);
  box-shadow: 0 2px 15px var(--card-shadow);
  color: var(--text);
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: flex-start;
  width: 80%;
  border-radius: var(--border);
  padding: 17px 20px 17px 20px;
}

.search-items input {
  border: 0;
  color: var(--text);
  outline: none;
  font-size: var(--homeitems);
  margin-left: 20px;
  width: 80%;
  background: none;
}

.search-items input:focus {
  border-bottom: 1px solid var(--text);
  color: var(--text);
  text-decoration: 1 ease;
}

/* SELECT */
.select {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 90%;
}
.content-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.content-select select::-ms-expand {
  display: none;
}

.content-select {
  margin-bottom: 30px;
  box-shadow: 0 2px 15px var(--card-shadow);
  position: relative;
  width: 60%;
}

.content-select select {
  border: 0;
  border-radius: var(--border);
  background: var(--white);
  color: var(--text);
  cursor: pointer;
  font-size: var(--homeitems);
  height: 52px;
  outline: 0;
  padding: 7px 10px;
  position: relative;
  transition: all 0.25s ease;
  width: 100%;
}

.content-select i {
  color: var(--text);
  display: block;
  height: 16px;
  position: absolute;
  right: 20px;
  transition: all 0.25s ease;
  top: calc(50% - 8px);
  width: 16px;
}

.content-select:hover i {
  transform: rotate(180deg);
}

option {
  background-color: var(--white);
  color: var(--text);
}
option:hover {
  background-color: var(--darkgray);
  color: var(--white);
}

/* CARD */
.card-container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 78%;
}

.card {
  background-color: var(--white);
  border-radius: var(--border);
  box-shadow: 0 2px 15px var(--card-shadow);
  height: 375px;
  margin-bottom: 30px;
  overflow: hidden;
  width: 100%;
}
.card-header {
  width: 100%;
}
.card-header img {
  cursor: pointer;
  min-height: 160px;
  max-height: 160px;
  width: 100%;
}
.card-body {
  font-size: 14px;
  padding: 10px 15px 10px 15px;
}

.card-body ul {
  color: var(--darkgray);
  list-style: none;
  padding: 0;
}
.card-body h2 {
  color: var(--text);
}

.card-body ul li span {
  color: var(--text);
  font-weight: 700;
  font-size: 16px;
}

.card-body ul li span {
  color: var(--text);
  font-weight: 700;
  font-size: 16px;
}

.card-body ul li {
  line-height: 25px;
}

/* ERROR */
.error {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  color: var(--text);
}

.error img {
  width: 100%;
}

/********** DETAILS *************/

.container-details{
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
}
.button{
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: 0 2px 15px var(--card-shadow);
  margin-top: 30px;
  font-size: 12px;
  text-align: center;
  padding: 8px 2px 8px 2px;
  position: relative;
  width: 25%;
}

.link-detail {
  color: var(--text);
  text-decoration: none;
  margin-left: 2px;
}

.image img{
  margin-top: 40px;
  width: 100%;
  height: 200px;
}

.details{
  font-size: 14px;
  color: var(--text);
}

.details ul{
  list-style: none;
  padding: 0;
  line-height: 25px;
  font-size: 10px;
}

.details ul li{
  color: var(--darkgray);
}

.details ul li:nth-child(5){
  margin-bottom: 20px;
}

.details ul li span:nth-child(1){
  color: var(--text);
}

.borders{
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.borders a{
  box-shadow: 0 2px 15px var(--card-shadow);
  background-color: var(--white);
  border-radius: 2px;
  color: var(--text);
  margin-right: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  width: 20%;
}
/* DESKTOP */

@media (min-width: 1200px) {
  .content {
    height: 100vh;
  }
  nav {
    margin-bottom: 40px;
  }
  /* SEARCH */
  .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .search-items {
    display: block;
    width: 30%;
    margin: 0;
    margin-top: 0px;
    justify-content: flex-start;
    height: 23px;
  }

  /****** SELECT  *****/
  .select {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 50%;
  }

  .content-select {
    width: 35%;
  }


  .content-select select {
    width: 100%;
  }

  /* CARD */  
  .card-container {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
  }

  .card {
    min-height: 360px;
    margin-bottom: 30px;
    margin-right: 16px;
    overflow: hidden;
    width: 20%;
  }
  .card-header {
    min-height: 100px;
    width: 100%;
  }

  .card-body {
    font-size: 14px;
    padding: 10px 15px 10px 15px;
  }

  .card-body ul li {
    line-height: 25px;
  }

  /* ERROR */
  .error img {
    width: 50%;
  }

  /***** DETAILS *****/
  .container-details{
    display: flex;
    flex-direction: column;
  }

  .button{
    width: 100px;
  }

  .container-image{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .image{
    width: 80%;
  }

  .image img {
    width: 80%;
    height: 400px;    
  }

  .details{
    width: 50%;
  }
  .details h1{
    margin-bottom: 40px;
  }
  .details ul{
    display: flex;
    margin-bottom: 80px;
    font-size: 14px;
    flex-wrap: wrap;
  }

  .details ul li{
    flex-basis: 50%;
  }
  .details ul li:nth-child(5){
    margin-bottom: 0px;
  }
}
